/**
 * BASE RESET
 * -------------------------------------
 */

// Prevent iOS text size adjust after orientation change, without disabling user zoom.
html{ 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 

    @include box-sizing(border-box);
}

//  Remove default margin.
body {
    margin: 0;
}

// Using border-box-model as default
* {
  @include box-sizing(border-box);
}